body {
	overflow-y: scroll;
}

#app_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E5F2F7;
	height: 100vh;
}

.textools {

}

.panel-default {
	background-color: #eee;
	padding: 5px;
}

#editable {
	margin: 5px auto 0 auto; /* offset padding of .panel-default */
}

#backgroundcolor_dropdown + ul li,
#fontcolor_dropdown + ul li,
#fontbackground_dropdown + ul li {
	display: inline-block;
	border: 1px solid #999999;
	margin: 2px;
	padding: 0;
}

#backgroundcolor_dropdown + ul a,
#fontcolor_dropdown + ul a,
#fontbackground_dropdown + ul a {
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	background-color: inherit !important;
}

#backgroundcolor_dropdown + ul a:hover,
#fontcolor_dropdown + ul a:hover,
#fontbackground_dropdown + ul a:hover {
	outline: 3px solid #eeeeee;
}

#backgroundcolor_dropdown + ul li.active a,
#fontcolor_dropdown + ul li.active a,
#fontbackground_dropdown + ul li.active a {
	/*outline: 3px solid #337AB7;*/
	outline: 3px solid #aaaaaa;
}


#insertsmilie_dropdown + ul li {
	display: inline-block;
	/*border: 1px solid #999999;*/
	margin: 2px;
	padding: 0;
	background-size: 16px 16px;
}

#insertsmilie_dropdown + ul a {
	margin: 0;
	padding: 0;
	width: 16px;
	height: 16px;
	background-image: inherit;
	background-size: 16px 16px;
	/*background-color: inherit !important;*/
}

#insertsmilie_dropdown + ul a:hover {
	outline: 3px solid #eeeeee;
}

#insertsmilie_dropdown + ul li.active a {
	outline: 3px solid #aaaaaa;
}

.tooltip {
	pointer-events: none;
}
