#app_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.2);
	height: 100vh;
}

.textools {

}

.panel-default {
	background-color: #eee;
	padding: 5px;
}

#editable {
	margin: 5px auto 0 auto; /* offset padding of .panel-default */
}
